 html, body {
    background-color: #fff;
    color: #636b6f;
    font-weight: 100;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 30px;
}

#icon{
	width:32px;
	margin-top: -5px;
	margin-right: 8px;
}

.starter-template {
  /*padding: 40px 15px;*/
  text-align: center;
}

.raleway{
	font-family: 'Raleway', sans-serif;
}

/*#navbar{
	background-color: #3c7bbe;
	color: white;
}*/

.title {
   margin-bottom: 30px;
   font-size: 100px;   
}

.subtitle {
    font-size: 60px;
}

.content{
	font-size: 30px;	
}

.navbar-brand{
  margin-right: 50px;
}

.navbar-right{
  margin-left: 50px;
}


.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.twitter-typeahead .tt-hint
{
    display: none;
}


.tt-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
    cursor: pointer;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}

.tt-suggestion:hover,
.tt-suggestion:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}

.bootstrap-tagsinput {
    width: 100%;
}

#conjugs table td {
    text-align: center;
}
#conjugs table th {
    text-align: center;
}

.bottom-round{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.bottom-round{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.add .text{visibility: hidden;}
.add .glyphicon{
   -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.add:hover .glyphicon{
   color: #3097D1;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);

}
.add:hover .text{visibility: visible;}